.custom-right-column{
    background-color: rgba(255, 255, 255, 0.219);
}

.right-column-button{
    background-color: #1c3f88;
    border: transparent;
}

.right-column-button:hover{
    background-color: white;
    color: black;
}