html, body, #app, #app>div {
    height: 85%
}

.boardCard{
    font-weight: lighter;
    background: #1c3e883a;
    border-radius: 10px 10px 10px 10px !important;
    height: 100%;
    overflow-y: auto;
    justify-content: start;
    flex: 1 1 auto !important;
    position: relative;
}

.boardCardTitle{
    background-color: #1c3e88;
    color: white;
    border-radius: 10px 10px 0px 0px !important;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.outerCard{
    background-color: transparent !important;
    border-color: transparent !important;

}
.columnCard{
    padding: 9px 9px 0px 9px;
    border-radius: 10px;
    flex: none;
    background-color: transparent !important;
}

.columnCardBody{
    background: #ffffffd0;
    border-radius: 10px;
    height: fit-content;
    font-size: 14px;
}
.cardTitle{
    font-weight: bold;
}