
/*****************Características del menu izq*****************/
.side-menu{
    background-color: rgb(20, 60, 172);
    height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-img{
    width: 150px;
    height: 150px;
}