.vh{
    height:85vh;
}

img{
    padding: 20px;
    margin-top: 10px;
}

.title-custom{
    font-size: 3rem;
}

.title-custom2{
    font-size: 5rem;
    font-weight: bolder;
}

.btn-section{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.btn-test{
    background: #1c3f88;
    border: 2px solid #1c3f88;
    color: white;
    font-size: 1.3rem;
    width: 150px;
    border-radius: 30px;
    padding: 5px;
}

.btn-sign-in{
    background-color: transparent;
    border: 2px solid #1c3f88;
    color: #1c3f88;
    font-size: 1.3rem;
    width: 150px;
    border-radius: 30px;
    padding: 5px;
}

.btn-test:hover{
    font-size: 1.3rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}

.cards-custom{
    border-radius: 25px;
}