.vh{
    height:100vh;
}

img{
    padding: 20px;
    margin-top: 10px;
}

.title-custom{
    font-size: 3rem;
}

.title-custom2{
    font-size: 5rem;
    font-weight: bolder;
}

.btn-section{
    width:100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-test{
    background: #1c3f88;
    border: 2px solid #1c3f88;
    color: white;
    font-size: 1.3rem;
    width: 150px;
    border-radius: 30px;
    padding: 5px;
}

.btn-sign-in{
    background-color: transparent;
    border: 2px solid #1c3f88;
    color: #1c3f88;
    font-size: 1.3rem;
    font-weight: bold;
    width: 150px;
    border-radius: 30px;
    padding: 5px;
}

.btn-test:hover{
    font-size: 1.3rem;
    font-weight: bold;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}

.title-custom3{
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.title-custom4{
    font-size: 3rem;
    font-weight: bolder;
}

.img-custom{
    width: 180px;
    height: 180px;
}

.cards-group-custom{
    text-align: center;
    background-color: transparent;
    border-style: none;
}

.first-card-custom{
    width: 360px;
    height: 580px;
    margin: 60px 0 60px 180px;
    background-color: rgba(255, 255, 255, 0.219);
    color: rgb(0, 0, 0);
}

.cards-custom{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.219);
    width: 350px;
    margin: 15px;

}

.cards-custom:hover{
    box-shadow: 5px 08px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.block-o{
    color: white;
    background-color: #1c3f88;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.title-custom5{
    font-size: 2rem;
}

.list-group-custom{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 25px;
}