/* 
    General Styles
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

body{
    background: #d7e0ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


