/*****************Características del navbar*****************/
.nav-height{
    height: 100px;
    background-color: transparent;
}
/*****************Características del nav*****************/
.custom-brand-link{
    margin-left: 50px;
}

.all-custom-nav-links{
    margin-right: 50px;
}

.custom-nav-link{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #1c3f88 !important;
    margin-right: 15px;
}

.nav-sign-up{
    font-size: 1.3rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
}