.vh{
    height:70vh;
}

.input-custom{
    border-radius: 20px;
}

.form-custom{
    width: 500px;
}

.btn-custom{
    font-size: 1.2rem !important;
    color: gray;
    border-radius: 20px;
    width: 120px;
    background-color: white;
    border: none;
}

.btn-custom:hover{
    font-size: 0.9rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}