.input-custom{
    border-radius: 20px;
}

.btn-submit{
    background: #1c3f88;
    border: 1px solid #1c3f88;
    font-size: 1.3rem;
    width: 120px;
    border-radius: 30px;
    padding: 4px;
}

.btn-submit:hover{
    font-size: 1.3rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}