.vh{
    height:70vh;
}

.items-custom{
    text-align: center;
}

.btn-custom{
    font-size: 1.3rem;
    border-radius: 20px;
    width: 120px;
}

.btn-custom:hover{
    font-size: 1.3rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}

.btn-back{
    background: none;
    border: none;
    font-size: 1rem;
    margin-top: 15px;
}