/*****************Características del container*****************/
.vh{
    height:70vh;
}

/*****************Características del nav*****************/
.custom-items{
    text-align: center;
}

.custom-btn{
    font-size: 1.3rem;
    border-radius: 20px;
    width: 120px;
}

.custom-btn:hover{
    font-size: 1.3rem;
    color: #1c3f88 !important;
    background-color: transparent !important;
    border: 1px solid #1c3f88;
    border-radius:30px !important;
    transition: ease-in .1s;
}

.btn-go-back{
    background: none;
    border: none;
    font-size: 1rem;
    margin-top: 15px;
}